<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075244984512-v2ffi9ikppqaokhmaqm997i0bphfoddj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075244984512-v2ffi9ikppqaokhmaqm997i0bphfoddj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1075244984512-rgjogu25921f8h259iftb32uv819ktis.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyP8YZ-c9TbWEGMTwa4BnkIzuDDROHQmM</string>
	<key>GCM_SENDER_ID</key>
	<string>1075244984512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodriguez.giomar.laradio</string>
	<key>PROJECT_ID</key>
	<string>la-radio-rd</string>
	<key>STORAGE_BUCKET</key>
	<string>la-radio-rd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075244984512:ios:66b87891c289150e8ba525</string>
	<key>DATABASE_URL</key>
	<string>https://la-radio-rd.firebaseio.com</string>
</dict>
</plist>